@charset "UTF-8";
/*CSS reset*/
/* CSS Document */
body, button, select, textarea, input, label, option, fieldset, legend {
    font-family: 微软雅黑;
    color: #444;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
    margin: 0;
    padding: 0; }
textarea {
    resize: none; }
body {
    background-color: #f6f6f6; }
*,::before,::after{-webkit-box-sizing:border-box;
                    box-sizing:border-box;
                   }
.clear {
    height: 1px;
    overflow: hidden;
    clear: both; }
a, img {
    border: 0; }
a {
    color: #666;
    text-decoration: none; }
a:hover {
    color: #0053a6; }
li {
    list-style-type: none; }
.fl {
    float: left; }
.fr {
    float: right; }
.nf {
    clear: both; }
.red {
    color: red;
    font-weight: bold; }
.green {
    color: #00b500;
    font-weight: bold;
    font-size: 16px;
     }
.ds {
    display: block; }
.hid {
    overflow: hidden; }
/*浮动清除*/
.clearfix {
    *zoom: 1;
     }
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
    font-size: 0; 
}
.reduce:active{
    background-color:red;
}
.add:active{
    background-color:red;
}
/*渐变*/
.jianbian, #nav .navlist {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #eee));
    background: -webkit-linear-gradient(top, #f4f4f4 0, #eee 100%);
    background: linear-gradient(to bottom, #f4f4f4 0, #eee 100%); 
}
/*边框阴影*/
.bottomshadow, #nav .navlist {
    border-bottom: solid 1px #B3B3B3;
    -webkit-box-shadow: 0 1px 1px 0 #DFDFDF;
    box-shadow: 0 1px 1px 0 #DFDFDF; 
}
/*导航*/
#nav{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background:#fafafa;
}
#nav .navlist{
    position:relative;;
    height:50px;
}
#nav .navlist li {
    float: left;
    margin: 0;
    height: 50px;
    width: 25%;
}
#nav .navlist li a {
    width: 100%;
    display: inline-block;
    height: 50px;
    border-right: 1px solid #EAEAEA;
    text-align: center;
}
#nav .navlist li a span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/icon/icon.png) no-repeat 0 -46px;
    background-size: 214px auto; 
}
#nav .navlist li a .active {
    background-position: 0 0; 
}
#nav .navlist #n_3 a {
    border-right: none; 
}
#nav .navlist #n_3 a span {
    background-position: -101px -46px; 
}
#nav .navlist #n_3 a span:link {

    background-position: -101px 0; 
}
#nav .navlist #n_3 a span:visited {

    background-position: -101px 0; 
}
#nav .navlist #n_3 a span:active {

    background-position: -101px 0; 
}
#nav .navlist #n_2 a span {
    background-position: -161px -46px; 
}
#nav .navlist #n_2 a :active {
    background-position: -161px 0; 
}
#nav .navlist #n_1{
    position: relative;
}
#nav .navlist #n_1 a span {
    background-position: -51px -46px; 
}
#nav .navlist #n_1 a :visited {
    background-position: -5px 0;
}
#nav .navlist #n_1 a :hover {
    background-position: -51px 0;
}
/*购物车数量块*/
#nav .navlist #n_1 .cartnums {
    position: absolute;
    top: 0.05rem;
    left: 1.125rem;
    width: 0.45rem;
    height: 0.45rem;
    background-color: red;
    border-radius: 0.225rem;
    color: #fff;
    text-align: center;
    font-size: .2rem; }
/*轮播*/
.indexslide {
    position: relative;
    top:51px;
    left:0;
    width:100%;
    height:200px;
}
.indexslide #topSlider {
    height:200px;
}
.indexslide #topSlider img {
    height:200px;
    width:100%;
    border:0;
}
.indexslide #topSlider .topzhezhao{
    height:45px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    opacity:0.7;
    background-color:#000;
    z-index:999;
}
.indexslide #topSlider .topzhezhao a {
    width:100px;
    height:30px;
    line-height:30px;
    background-color:#15bd10;
    color:#fff;border-radius:10px;
}
.indexslide #topSlider .topzhezhao .leftslidecontent{
    width:20px;
    height:45px;
    float:left;
}
.indexslide #topSlider .topzhezhao p{

    line-height:20px;
    display:block;
    width:200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color:white;
    text-indent:12px
}
.indexslide #topSlider .topzhezhao p span{
    color:#15bd10;
}
/*产品列表*/
.productul{
    position:relative;
    top:1.5rem;
    left:0;
    width:9.9rem;
    overflow:hidden;
    margin:0 auto 0.125rem auto;
}
.productul ul {
    width:9.9rem;
}
.productul ul li {
    min-height: 3.125rem;
     overflow:hidden;
    background-color:#fff;
    -webkit-box-shadow:0 0 0.125rem #ccc;
    margin: 0.25rem;
    border: 0.025rem solid #f2f2f2;}
.productul ul li a {
    width:10rem;
    display:block;
    overflow:hidden;
}
.productul ul li a .triangle-topleft {
    width:0;
    height:0;
    border-top:1.5rem solid #1aa818;
    border-right:1.5rem solid transparent;
    position:relative;
    z-index:999;
    cursor: pointer;
}
.productul ul li a  .rexiao {
    border-top-color: #d50806; 
}
.productul ul li a  .xiangou {
    border-top-color: #ff7301; 
}
.productul ul li a  .zhuanshu {
    border-top-color: #1aa818; 
}
/*倒角*/
.productul li a .shuxing {
    position: relative;
    z-index: 999;
    transform: rotate(-45deg);
    color: #fff;
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    font-size: 14px;
    width: 1.0rem;
    height: 1.0rem;
    margin-top: -1.5rem;
    display: block;
    padding-top: 0.125rem;
    padding-left: 0.25rem;
    cursor: pointer; 
}
.productul li a .leftimages {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -0.875rem; 
}
.productul li a .leftimages img {
    width: 2.5rem;
    height: 2.5rem;
    border: 0; 
}
.productul li a .productcontent {
    width: 6.2rem;
    width: calc(100% - 100px);
    margin-top: -30px; 
}
.productul li a .productcontent .ptitle {
    font-size: 16px;
    color: #4a534e;
    font-weight: bold;
    display: block;
    font-family: "Microsoft YaHei"; 
}
.productul li a .productcontent .pdes {
    font-size: 13px;
    color: #999;
    margin-top: 0.125rem;
    display: block; 
}
.productul li a .productcontent .pprice {
    margin-top: 0.25rem;
    font-size: 0.35rem;
    color: #4a4a4a; 
}
.productul li a .productcontent .daojishi{
    color: red;
}
/*商品加入购物车动画块*/
#flydiv {
    width: 1rem;
    height: 1rem;
    padding: 2px;
    background: #fff;
    border: solid 5px #e54144;
    overflow: hidden;
    position: absolute;
    z-index: 10000;
}
/*购买页面*/
.recommendcontent {
    width: 10rem;
    overflow: hidden;
    margin: 1rem auto 0 auto;
}
.recommendcontent ul {
    width: 10rem;
}
.recommendcontent ul li {
    min-height: 6rem;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0.5rem #ccc;
    -moz-box-shadow: 0 0 0.5rem #ccc;
    box-shadow: 0 0 0.5rem #ccc;
    border: 1px solid #f2f2f2;
    margin: 0.6rem;
}
/*购买数量加减列*/
.recommendcontent ul .buynumsli {
    min-height: 2rem;
    margin-top: -1rem;
    -moz-border-radius-bottomleft: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    -moz-border-radius-bottomright: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.recommendcontent ul .buynumsli .buylabel {
    font-size: 20px;
    float: left;
    margin: .7rem 0.05rem 0rem 0.3rem;
    font-family: "Microsoft YaHei";
}
.recommendcontent ul .buynumsli .buynuminput {
    float: left;
    overflow: hidden;
    margin: 0.5rem 0 0 0rem;
}
.reduce {
    float: left;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #ccc;
    border-right: none;
    cursor: pointer;
    background: url("../images/reduce.gif") center center no-repeat;
}
.itnums {
    float: left;
    width: 3rem;
    height: 1rem;
    border: 0.1rem solid #ccc;
    text-align: center;
    font-size: 20px;
    color: #990000;
    font-weight: 800;
}
 .add {
    float: left;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #ccc;
    border-left: none;
    cursor: pointer;
    background: url("../images/add.gif") center center no-repeat;
}
/*购买展示页面*/
.recommendcontent ul .setyuanjiao {
    -moz-border-radius-topleft: 0.5rem;
    border-top-left-radius: 0.5rem;
    -moz-border-radius-topright: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.recommendcontent ul .setyuanjiao .leftimages {
    width: 3rem;
    height: 5rem;
    margin-top: 0.5rem;
    min-width: 3rem;
}
.recommendcontent ul .setyuanjiao .leftimages img {
    width: 3rem;
    border: 0;
}
.recommendcontent ul .setyuanjiao .productcontent {
    width: 5rem;
    margin-top: 1rem;
}
.recommendcontent ul .setyuanjiao .productcontent .ptitle {
    font-size: 20px;
    color: #4a534e;
    font-weight: bold;
    display: block;
    font-family: "Microsoft YaHei";
}
.recommendcontent ul .setyuanjiao .productcontent .pdes {
    font-size: 12px;
    color: #999;
    margin-top: 0.5rem;
    display: block;
}
.recommendcontent ul .setyuanjiao .productcontent .pprice {
    margin-top: 1rem;
    font-size: 20px;
    color: #4a4a4a;
}
/*购买说明页面*/
.recommendcontent .decorations {
    olor: #b6b6b6;
    overflow: hidden;
    background-color: #e7e7e7;
    -webkit-box-shadow: 0 0 0.5rem #ccc;
    -moz-box-shadow: 0 0 0.5rem #ccc;
    box-shadow: 0 0 0.5rem #ccc;
    border: 0.1rem solid #ccc;
    margin: 0.55rem;
    padding: 1rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem; }
.recommendcontent .decorations .dtitle {
    color: #939494;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    margin-bottom: 10px; }
.recommendcontent .decorations p {
    text-indent: 0.5rem;
    line-height: 20px; }
.recommendcontent .decorations img {
    border: 0;
    width: 100%; }
/*加入购物车*/
.addcart {
    width: 10rem;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    margin: 0 auto;
    display: block; }
.addcart .addcartbtn {
    width: 9.8rem;
    background-color: #28c728;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#18b218), to(#28c728));
    background-image: -webkit-linear-gradient(top, #18b218, #28c728);
    background-image: linear-gradient(to bottom, #18b218, #28c728);
    display: block;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    border: 0.1rem solid #31b231;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 0 auto;
}
/* 减少按钮 */

/*购物车*/
.cart_content {
    margin: 0 auto;
    min-height: 7.5rem;
    position: relative;
    width: 9.9rem;
    top: 1rem;
    left: 0; 
}
.cart_content .null_shopping {
    text-align: center;
    color: #ccc; 
}
.cart_content .null_shopping .cart_pic {
    background: url(../images/cart_pic.png) no-repeat center;
    height: 2.5rem; 
}
.cart_content .null_shopping h4 {
    text-indent: 1rem;
    font-size: 18px;
    margin: 1rem 0; 
}
.cart_content .null_shopping p a.enter {
    line-height: 0.75rem;
    width: auto;
    display: inline-block;
    background: none;
    color: #999;
    background-color: #fafafa;
    font-size: 15px;
    height: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
}
.cart_content .cartlist {
    width: 9.9rem; 
}
.cart_content .cartlist li {
    margin: 0.6rem; 
}
.cartshadow, .cart_content .cartlist li {
    min-height: 1.875rem;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0.125rem #ccc;
    -moz-box-shadow: 0 0 0.125rem #ccc;
    box-shadow: 0 0 0.125rem #ccc;
    border: 1px solid #f2f2f2;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.cart_content .cartlist li a {
    display: block;
    overflow: hidden;
    border-bottom: 1px dashed #e7e7e7; 

}
.cart_content .cartlist li a span {
    display: block;
    overflow: hidden;
    float: left; 
}
.cart_content .cartlist li a span img {
    width: 1.7rem; 
}
.cart_content .cartlist li a span.carttitle {
    
    font-size: 18px;
    font-weight: bold; 
    margin-top: 0.3rem;
}
.cart_content .cartlist li .productoperate {
    display: block;
    overflow: hidden;
    margin-bottom: 0.5rem;
    border-bottom: 1px dashed #e7e7e7;
    padding-bottom: 0.5rem; 
}
.cart_content .cartlist li .productoperate .buylabel {
    font-size: 20px;
    float: left;
    margin: .4rem 0.2rem 0 0.3rem;
    font-family: "Microsoft YaHei"; 
}
.cart_content .cartlist li .productoperate .buynuminput {
    float: left;
    overflow: hidden;
    margin: .3rem 0 0 0.5rem; 
}
.cart_content .cartlist li .productoperate .buynuminput .monq{
    font-size: 20px;
    margin-top: 0.1rem;
}
.cart_content .cartlist li .productoperate .buynuminput span.delbtn {
    width: 0.6rem;
    height: 0.6rem;
    float: left;
    background: url("../images/del.png") center center no-repeat;
    margin-left: 0.75rem;
    margin-top: 0.15rem;
    background-size: contain;
    cursor: pointer; 
}
.cart_content .cartlist li:last-child {
    margin-bottom: 60px; 
}

.onthebottom {
    width: 10rem;
    left: 0px;
    position: fixed;
    bottom: 0px;
    height: 1.5rem;
    z-index: 10000;
    margin: 0 auto;
    display: block;
    background: #f4f4f4;
    border-top: 1px solid #B3B3B3; 
}
.onthebottom .clearcart {
    width: 1.5rem;
    float: left;
    background: url("../images/del.png") left center no-repeat;
    padding-left: 0.75rem;
    font-size: 0.35rem;
    color: #0e69b6;
    height: 0.75rem;
    margin-top: 0.3rem;
    padding-top: 0.15rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0.125rem; 
}
.onthebottom .totalprice {
    float: left;
    margin: 0.4rem 0 0 0.125rem;
    font-size: 15px; 
}
.onthebottom .jiesuanbtn {
    margin-top: 0.3rem;
    margin-right: 0.125rem;
    float: right;
    font-size: 0.35rem;
    width: 2.0rem;
    height: 0.85rem;
    line-height: 0.85rem;
    background-color: #28c728;
    text-align: center;
    border: 0.025rem solid #31b231;
    border-radius: 0.125rem;
    color: #fff;
    font-size: 16px;
    cursor: pointer; 
}
/*用户中心页面*/

.userinfo {
    width: 9.9rem;
    overflow: hidden;
    margin: 0.25rem auto;
    position: relative;
    top: .55rem;
}

.nicheng {
    color: #f9a00a;
    font-size: 14px;
}

.contentlist {
    height: 1.5rem;
    width: 9rem;
    padding-right: 0.75rem;
    border: 1px solid #f2f2f2;
    border-right: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #666;
    background: url("../images/goforword.png") right center no-repeat;
}

.contentlist:last-child {
    border-bottom: none;
}

.userlist {
    min-height: 1.875rem;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0.125rem #ccc;
    -moz-box-shadow: 0 0 0.125rem #ccc;
    box-shadow: 0 0 0.125rem #ccc;
    border: 1px solid #f2f2f2;
    margin: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.pl8 {
     padding-left: 0.2rem;
}
.pt20 {
  padding-top: 0.5rem; 
}
/*订单列表*/
.cartshadow, .cart_content .cartlist li, .addresslist, .voiceslist, .shopslist {
  min-height: 1.875rem;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.125rem #ccc;
  -moz-box-shadow: 0 0 0.125rem #ccc;
  box-shadow: 0 0 0.125rem #ccc;
  border: 0.025rem solid #f2f2f2;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem; 
}
.addresslist, .voiceslist, .shopslist {
    margin: 0.2rem;
    position: relative;
    top: 1.375rem;
    left: 0;
}
.order_content {
    margin: 0 auto;
    min-height: 9.5rem;
    position: relative;
    width: 9.5rem;
    overflow: scroll;
}

.add_operate {
    font-size: 16px;
    position: relative;
    left: 0;
    top: 1.375rem;
}

.add_operate .enter {
    width: 8.9rem;
    background-color: #28c728;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#18b218), to(#28c728));
    background-image: -webkit-linear-gradient(top, #18b218, #28c728);
    background-image: linear-gradient(to bottom, #18b218, #28c728);
    display: block;
    text-align: center;
    height: 1.0rem;
    line-height: 1.0rem;
    border: 0.025rem solid #31b231;
    border-radius: 0.125rem;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0.125rem auto;
}

.add_operate .enter:hover {
    background-color: #3ede30;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3ede30), to(#3ede30));
    background-image: -webkit-linear-gradient(top, #18b218, #3ede30);
    background-image: linear-gradient(to bottom, #18b218, #3ede30);
}

.add_title {
    color: #666;
    font-size: 16px;
    margin-top: 0.125rem;
    margin-left: 0.2rem;
}

.address_item, .fill_in_content, .voiceinfo {
    font-size: 14px;
    line-height: 0.5rem;
    margin: 0.25rem 0.0rem 0.25rem 0.25rem;
}

.address_item li {
    line-height: 0.625rem;
}

.radio {
    float: left;
    width: 0.5rem;
}

.address_item li.name, .address_item li.mobile {
    text-indent: 20px;
    clear: both;
}

#order_form .message {
    display: block;
}

#order_form #postscript {
    width: 9.5rem;
    padding: 0.05rem;
}

.receive_add li.fashion, .receive_add li.pay {
    float: left;
}

.address_item {
    border-bottom: 0.025rem dashed #ddd;
}

.address_item:last-child {
    border-bottom: none;
}

.new_address {
    border-bottom: none;
}

#address_form .text {
    height: 1.0rem;
    margin: 0.125rem 0;
    border-radius: 0.125rem;
    border: 0.025rem solid #ddd;
    text-indent: 0.25rem;
    width: 7.9rem; 
}

#address_form select {
    margin-left: 1rem;
    border-radius: 0.125rem;
    border: 0.025rem solid #ddd;
    height: 0.95rem;
    margin: 0.125rem 0;
    width: 1.95rem;
}

.fill_in_content, .voiceinfo {
    padding: 0.25rem;
    margin-right: 0.375rem;
    background-color: #f2f2f2;
}

.voiceinfo {
    margin-top: 0;
}

.thevioceselect {
    width: 9.9rem;
    height: 0.875rem;
    border-radius: 0.125rem;
    border: 0.025rem solid #ddd;
    margin: 0.125rem 0 0 0;
}

.voicetait {
    width: 4rem;
    height: 0.875rem;
    border: 0.025rem solid #ddd;
}

.voiceinput {
    width: 4.5rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    border: 0.025rem solid #ddd;
}

.shoptitles {
    background-color: #eeeeee;
    color: #666;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-weight: bold;
}

.shopproductlist {
    height: 1.25rem;
}

.shopproductlist td {
    text-align: center;
    border-right: #EDEDED 0.025rem solid;
    height: 1.25rem;
    border-bottom: #EDEDED 0.025rem solid;
}

.shopproductlist td:last-child {
    border-right: none;
}

.shopslist textarea {
    width: 8rem;
    margin-left: 0.5rem;
    border: 0.025rem solid #ddd;
}

.confirmbtn {
    width: 10rem;
    left: 0px;
    position: fixed;
    bottom: 0px;
    z-index: 10000;
    margin: 0 auto;
    display: block;
}

.confirmbtn_b {
    width: 9.8rem;
    background-color: #28c728;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#18b218), to(#28c728));
    background-image: -webkit-linear-gradient(top, #18b218, #28c728);
    background-image: linear-gradient(to bottom, #18b218, #28c728);
    display: block;
    text-align: center;
    height: 1.0rem;
    line-height: 1.0rem;
    border: 0.025rem solid #31b231;
    border-radius: 0.125rem;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.confirmbtn_b:hover {
    background-color: #3ede30;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3ede30), to(#3ede30));
    background-image: -webkit-linear-gradient(top, #18b218, #3ede30);
    background-image: linear-gradient(to bottom, #18b218, #3ede30);
}

.successp {
    text-indent: 0.5rem;
    margin-top: 0.25rem;
    line-height: 0.625rem;
    padding-left: 0.125rem;
}

.huodao {
    height: 0.95rem;
    min-width: 3.75rem;
    background: url(../images/huodao.png) 1.125rem center no-repeat;
}

.userinfo {
    width: 9.9rem;
    overflow: hidden;
    margin: 0.25rem auto;
    position: relative;
    top: 1.25rem;
}

.nicheng {
    color: #f9a00a;
    font-size: 0.35rem;
}

.contentlist {
    height: 1.5rem;
    width: 9rem;
    padding-right: 0.75rem;
    border: 0.025rem solid #f2f2f2;
    border-right: none;
    font-size: 0.45rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #666;
    background: url("../images/goforword.png") right center no-repeat;
}

.contentlist:last-child {
    border-bottom: none;
}

.userlist {
    min-height: 1.875rem;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0.125rem #ccc;
    -moz-box-shadow: 0 0 0.125rem #ccc;
    box-shadow: 0 0 0.125rem #ccc;
    border: 0.025rem solid #f2f2f2;
    margin: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.order_content .mb50 {
  margin-bottom: 2rem; 
  }