@charset "UTF-8";
/* CSS Document */
body, button, select, textarea, input, label, option, fieldset, legend {
    font-family: 微软雅黑E\8F6F\96C5\9ED1,Tahoma,Verdana;
    font-size: 12px;
    line-height: 18px;
    color: #444; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
    margin: 0;
    padding: 0; }
textarea {
    resize: none; }
body {
    background-color: #f6f6f6; }
*,::before,::after{-webkit-box-sizing:border-box;
                    box-sizing:border-box;
                   }
.clear {
    height: 1px;
    overflow: hidden;
    clear: both; }
a, img {
    border: 0; }
a {
    color: #666;
    text-decoration: none; }
a:hover {
    color: #0053a6; }
li {
    list-style-type: none; }
.fl {
    float: left; }
.fr {
    float: right; }
.nf {
    clear: both; }
.red {
    color: red;
    font-weight: bold; }
.green {
    color: #00b500;
    font-weight: bold; }
.ds {
    display: block; }
.hid {
    overflow: hidden; }
.clearfix {
    *zoom: 1; }
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
    font-size: 0; }

.jianbian, #nav .navlist {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #eee));
    background: -webkit-linear-gradient(top, #f4f4f4 0, #eee 100%);
    background: linear-gradient(to bottom, #f4f4f4 0, #eee 100%); }

.bottomshadow, #nav .navlist {
    border-bottom: solid 1px #B3B3B3;
    -webkit-box-shadow: 0 1px 1px 0 #DFDFDF;
    box-shadow: 0 1px 1px 0 #DFDFDF; }

#nav{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background:#fafafa;
}
#nav .navlist{
    position:relative;;
    height:50px;
}
#nav .navlist li {
    float: left;
    margin: 0;
    height: 50px;
    width: 25%;
}
#nav .navlist li a {
    width: 100%;
    display: inline-block;
    height: 50px;
    border-right: 1px solid #EAEAEA;
    text-align: center; }
#nav .navlist li a span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/icon/icon.png) no-repeat 0 -46px;
    background-size: 214px auto; }
#nav .navlist li a .active {
    background-position: 0 0; }
#nav .navlist #n_3 a {
    border-right: none; }
#nav .navlist #n_3 a span {
    background-position: -101px -46px; }
#nav .navlist #n_3 a .active {
    background-position: -101px 0; }
#nav .navlist #n_2 a span {
    background-position: -161px -46px; }
#nav .navlist #n_2 a .active {
    background-position: -161px 0; }
#nav .navlist #n_1 a span {
    background-position: -51px -46px; }
#nav .navlist #n_1 a .active {
    background-position: -51px 0; }
.indexslide {
    position: relative;
    top:51px;
    left:0;
    width:100%;
    height:200px;
}
.indexslide #topSlider {
    height:200px;
}
.indexslide #topSlider img {
    height:200px;
    width:100%;
    border:0;
}
.indexslide #topSlider .topzhezhao{
    height:45px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    opacity:0.7;
    background-color:#000;
    z-index:999;
}
.indexslide #topSlider .topzhezhao a {width:100px;height:30px;line-height:30px;background-color:#15bd10;color:#fff;border-radius:10px;}
.indexslide #topSlider .topzhezhao .leftslidecontent{width:20px;height:45px;float:left;}
.indexslide #topSlider .topzhezhao p{line-height:20px;display:block;width:200px;overflow:hidden;text-overflow:ellipsis;
                                      white-space: nowrap;color:#fff;text-indent:12px}
.indexslide #topSlider .topzhezhao p span{color:#15bd10;}
.productul{
    position:relative;
    top:60px;
    left:0;
    width:99%;
    overflow:hidden;
    margin:0 auto 5px auto;
}
.productul ul {width:99%;}
.productul ul li {
    min-height: 125px;overflow:hidden;background-color:#fff;-webkit-box-shadow:0 0 5px #ccc;margin: 10px;border: 1px solid #f2f2f2;}
.productul ul li a {width:100%;display:block;overflow:hidden;}
.productul ul li a .triangle-topleft {width:0;
    height:0;
    border-top:60px solid #1aa818;
    border-right:60px solid transparent;
    position:relative;
    z-index:999;
    cursor: pointer;}
.productul ul li a  .rexiao {
    border-top-color: #d50806; }
.productul ul li a  .xiangou {
    border-top-color: #ff7301; }
.productul ul li a  .zhuanshu {
    border-top-color: #1aa818; }
.productul li a .shuxing {
    position: relative;
    z-index: 999;
    transform: rotate(-45deg);
    color: #fff;
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    font-size: 14px;
    width: 40px;
    height: 40px;
    margin-top: -60px;
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    cursor: pointer; }
.productul li a .leftimages {
    width: 100px;
    height: 100px;
    margin-top: -35px; }
.productul li a .leftimages img {
    width: 100px;
    height: 100px;
    border: 0; }
.productul li a .productcontent {
    width: 64%;
    width: calc(100% - 100px);
    margin-top: -40px; }
.productul li a .productcontent .ptitle {
    font-size: 16px;
    color: #4a534e;
    font-weight: bold;
    display: block;
    font-family: "Microsoft YaHei"; }
.productul li a .productcontent .pdes {
    font-size: 13px;
    color: #999;
    margin-top: 5px;
    display: block; }
.productul li a .productcontent .pprice {
    margin-top: 10px;
    font-size: 14px;
    color: #4a4a4a; }